:host {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

:host * {
    margin: 10px;
}

input[type="file"] {
    display: none;
}

.file-select-label {
    /* border: 2px solid var(--secondary-color); */
    background-color: var(--secondary-color);
    border-radius: 7px;
    padding: 7px;
}

.file-select-label:hover {
    /* background-color: var(--secondary-color-hover); */
    filter: brightness(85%);
    cursor: pointer;
}

.search-field {
    border: 2px solid grey;
    padding: 7px;
    border-radius: 7px;
}