:host {
    height: 100%;
    display: flex;
}

.card {
    background-color: white;
    width: 20%;
    height: 50%; 
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    box-shadow: 3px 3px 3px #7f8c8d;
}

form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

input {
    padding: 10px;
    border-radius: 10px;
    background-color: #dfe4ea;
}

input.textfield {
    box-shadow: 3px 3px 5px lightgrey;
    width: 90%;
}

input.submit {
    text-align: center;
    /* background-color: var(--primary-color); */
    background-image: linear-gradient(to right, #778beb, #cf6a87, #778beb);
    background-size: 200%;
    color: white;
    width: 60%;
    min-width: 100px;
    box-shadow: 3px 3px 5px lightgrey;
    transition: background-position 0.5s;
}

input.submit:hover {
    background-position: 100%;
    cursor: pointer;
}

#form-label {
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto;
}

@media only screen and (max-width: 900px) {
    .card {
        width: 280px;
    }
}