:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* The navbar is fixed position, so this spacer keeps the router content below it */
.spacer {
    /* height and minheight should match the navbar */
    height: 7%;
    min-height: 60px;
}

.content {
    width: 100%;
    flex-grow: 1;
}