/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #546de5;
    --secondary-color: #c44569;
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}