/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    --primary-color: rgb(84, 109, 229);
    --secondary-color: rgb(196, 69, 105);
    --primary-color-hover: rgba(84, 109, 229, 0.5);
    --secondary-color-hover: rgba(196, 69, 105, 0.8);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    width: 100%;
    height: 100vh;
}

button, input, li {
    all: unset;
}